@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
div, h1, h2, h3, h4 , h5 {
    font-family: 'Lobster', cursive;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.loginContainer, .signUpContainer {
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
}