@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
div, h1, h2, h3, h4 , h5 {
    font-family: 'Lobster', cursive;
}

.Brand, .footerLink, .stepsHeader, .recipeHeader, .Comments, .ingredientsTitle, #recipeLabel, #commentStyling, .loginTitle, .signupTitle, #loginLabel, #signupLabel, .createHeader, .drawerHeader, .accordianStyling, .accordianStyling2 {
    padding-top: 2px;
    background-image: linear-gradient(
          34deg,
          #FF9191 5%,
          #FF9191 10%,
          #FF9191 15%,
          #FF9191 20%,
          #FF9191 25%,
          #FF9191 30%,
          #f86a6a 40%,
          #f86a6a 50%,
          #f86a6a 55%,
          #FF9191 60%,
          #FF9191 70%,
          #FF9191 80%,
          #FF9191 90%
        );
    text-shadow: 1px 2px 2px #ef856569 ;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 25s reverse infinite;
}

.background {
    background-color: #FFFDCA;
    height: 100vh;
}

.measurementStyling {
    color: #FF9191;
    background-color: #f1e1e16a;
    border-radius: 20px;
    font-weight: bolder;
}

.measurementFields {
    border-radius: 20px;
    background-color: #f86a6a;
}

.navBar {
    color: #FF9191;
    background-color: #fffdca;
    z-index:1;
}

#navLink{
    font-size: 22px;
    margin:5px;
    
}

#navLink, #loginButton, #signupButton, #recipeButton, #addIngredientButton, #publishRecipe, #commentButton, #myRecipes, #deleteRecipe, #searchIngredientButton {
    border-color: #FF9191;
    color: #FF9191;
  }
  #navLink:hover, #loginButton:hover, #signupButton:hover, #recipeButton:hover, #addIngredientButton:hover, #publishRecipe:hover, #commentButton:hover, #myRecipes:hover, #deleteRecipe:hover, #searchIngredientButton:hover {
    box-shadow: 0 0.25em 0.25em -0.1em #FF9191;
    transform: translateY(-0.25em);
    border-color: #FFFDCA;
    color: #02a8fa;
    background-color: #FFFDCA;
  }
  

.footerLink {
    padding: 5px;
    border-radius: 10px;
    box-shadow: #FFFDCA 0px 0px 0px 2px,#FF9191 0px 4px 6px -1px;
}

#loginForm, #loginButton, #navLink, #signupForm, #signupButton, #recipeSearch, #ingredientSearch, #recipeStyling, #addIngredientButton, #publishRecipe, #commentForm, #commentButton, #homeInput, #amountInput, #servingsInput, #deleteRecipe, #searchIngredientButton  {
    border-radius: 10px;
    box-shadow: #FFFDCA 0px 0px 0px 2px,#FF9191 0px 4px 6px -1px;
    padding:20px;
}

#loginButton, #signupButton, #addIngredientButton, #recipeButton, #commentButton {
    background-color: #FFFDCA;
    width:80%; 
    font-size: 24px;
}


#loginLabel, #signupLabel {
    font-size:25px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #FF9191;
    font-size:22px;
}

.loginTitle, .signupTitle {
    font-size: 45px;
}

.drawerHeader {
  text-align: center;
  font-size: 20px;
}


.loginContainer, .signUpContainer {
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .navbar-heading {
    margin-right: auto; /* Pushes the heading to the left */
  }
  
  .navbar-icon {
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
  }

  .recipeHeader {
    color: #ff9191;
    margin-top:100px;
    text-align: center;
    justify-content: center;
    margin-bottom:10px;
    font-size:3.0em;
    text-shadow: 1px 2px 2px #f556567b;
  }

  .recipeHeader2 {
    color: #02a8fa;
    text-align: center;
    justify-content: center;
    font-size:1.3em;
    text-shadow: 1px 2px 2px #f556567b;
    display:flex;
    margin:20px;
  }


  .createHeader {
    margin:10px;
    text-align: center;
    font-size: 4.0em;
    text-shadow: 1px 2px 2px #f556567b;
  }

  .accordianStyling {
    border-radius: 10px;
    box-shadow: #FFFDCA 0px 0px 0px 2px,#FF9191 0px 4px 6px -1px;
    color: #FF9191;
    padding: 10px;
  }

  .accordianStyling3 {
    color: #02a8fa;
    font-size:25px;
    text-decoration: none;
  }

  .ingredientsContainer {
    width: 100%;
  }


  #commentStyling {
    font-size:20px;
  }

  #deleteButton {
    border-radius: 50%;
    background-color: #FFFDCA;
  }

  #deleteRecipe {
    align-items: center;  
    justify-content: center;
    display: flex;
    margin:auto;
    margin-bottom:20px;
    width: 30%;
    background-color: #FFFDCA;
    font-size:1.2em;
  }

  .stepsHeader {
    font-size:5.0em;
    text-align: center;
  }

  .stepsList {
    font-size:1.2em;
  }
  
  #commentButton {
    margin-top:40px;
    margin-bottom:60px;
    align-items: center;
    justify-content: center;
    width:200px;
  }

  #commentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .stepsContainer {
    margin-top:10px;
    font-family: 'Lobster', cursive;
    color:#FF9191;
    font-size:1.3em;
    justify-content: center;
    align-items: center;
  }

  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh
  }

  .Comments {
    text-align: center;
    color: #FF9191;
    font-size: 35px;
    padding: 20px;
  }

  .loginMessage {
    text-align: center;
    font-size:35px;
    color: #ff9191;
    padding-bottom: 30px;
  }

  .loginLink {
    color: #5E2BFF;
  }
  
  #recipeStyling {
    padding:20px;
  }

  .ingredientsTitle {
    font-size:28px;
    text-align: center;
  }
  

  .column {
    float: left;
    width: 33.3%;
    padding: 10px;
    align-items:center;
  }

  .column2 {
    width:50%;
    display:flex;
    
  }

  .column3 {
    float: left;
    width: 50%;
    padding: 50px;
    align-items:center;
  }

  .column4 {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .column5 {
    float: left;
    width: 43%;
    padding: 10px;
    margin: auto;
  }

  .searchStyling {
    color: #ff9191;
    font-size:20px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .recipeFormContainer {
    padding-top: 100px;
  }

  .profileContainer {
    padding: 45px;
    padding-top:100px;
  }

  .row2{
    height:400px;
  }

  .row3{

  }

  .ingredientList {
    display: inline-flex;
    flex-wrap: wrap;
  }
  
  .ingredientItem {
    display: inline-block;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size:20px;
  }

  #publishRecipe {
    background-color: #FF9191;
    color:#FFFDCA;
    width:100%;
    height:100px;
    font-size: 2.0em;
  }

  #myRecipes {
    background-color: #FF9191;
    color:#FFFDCA;
    font-size: 1.2em;
    border-radius: 10px;
    box-shadow: #FFFDCA 0px 0px 0px 2px,#FF9191 0px 4px 6px -1px;
    padding:10px;
    align-items: center;
    margin: auto;
    width:33%;
    display: block;
  }

  #recipesButton {
    margin-bottom:20px;
  }

  #searchIngredientButton {
    background-color: #FFFDCA;
    color: #FF9191;
    margin-left: 5px;
  }

  #addIngredientButton {
    background-color: #FF9191;
    color:#FFFDCA;
    width:100%;
    height:100px;
  }

  #itemStyling {
    color:#FF9191;
    cursor: grab;
  }


  #addedIngredients, #addedSteps {
    background-color: #faf8bd;
    border-radius: 5%;
    height:300px;
    margin-top: 10px;
  }
 
  #homePage {
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }

  #commentForm {
    margin-top:10px;
    padding:10px;
  }

  .landingButton {
    background-color: black;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 300px;
  }


  @media (max-width: 768px) {
    .navbar-container {
      flex-wrap: wrap;
    }
  
    .navbar-heading {
      margin-bottom: 10px;
    }
  
    .navbar-icon {
      display: none;
    }
  
    .chakra-breadcrumb {
      justify-content: flex-end;
      width: 100%;
    }
  }

  @keyframes textclip {
    0% {
      background-position: 0% center;
    }
    10% {
        background-position: 10% center;
    }
    20% {
        background-position: 20% center;
    }
    30% {
      background-position: 30% center;
    }
    40% {
      background-position: 40% center;
    }
    50% {
        background-position: 50% center;
    }
    60% {
        background-position: 60% center;
    }
    70% {
        background-position: 70% center;
    }
    80% {
        background-position: 80% center;
    }
    90% {
        background-position: 90% center;
    }
    100% {
        background-position: 100% center;
    }
  }

  @media screen and (max-width: 600px) {
    .column, .column2, .column3, .column4, .column5, #myRecipes, #searchResults {
      width: 100%;
    }
  }

  @media (max-width: 770px) {
    .footer {
      display: none;
    }
  }
  